* {
    box-sizing: border-box;
    user-select: none;
}

:root {
    --header-height: 70px;
    --header-background: #d9d9d9;
    --main-background: #fff;
    /* --header-background: rgb(94, 94, 94); */

    --edit-mode-color: #5e5e5e;
    --play-mode-color: #fd6161;

    --media-background: #d9d9d9;
    --media-icon-color: #373434;

    --container-comandos-background: #636363;
    --comandos-background: #d9d9d9;
    --comandos-icon-color: #373434;
    --placeholder-background: rgba(217, 217, 217, 0.5);
    --arrow-color-icon: #373434;

    --bloco-comando-height: 70px;
}

.html,
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    /* display: flex;
    flex-direction: column; */
    overflow: hidden;
    background-color: var(--header-background);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: Arial, sans-serif; */
    /* font-size: 16px; */
    /* color: #000000; */
}

header {
    background-color: var(--header-background);
    height: var(--header-height);
    padding: 0 10px;
    justify-content: space-between;
    /* border-radius: 0 0 -10px -10px; */
}

ul.nav {
    margin: 0;
    padding: 0;
    height: 100%;
    gap: 25px;
}

ul.nav li {
    list-style: none;
    color: white;
    background-color: rgb(47, 47, 54);
    height: 40px;
    width: 100px;
    border-radius: 5px;
    /* line-height: 100%; */
}
ul.nav li a {
    color: white;
    background-color: rgb(47, 47, 54);
    height: 40px;
    width: 100px;
    border-radius: 5px;
    text-decoration: none;
}

main {
    box-sizing: border-box;
    border: 3px var(--edit-mode-color) solid;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    min-height: 100%;
    height: calc(100vh - var(--header-height));
    background-color: var(--main-background);
    position: relative;
}

.fbox {
    display: flex;
}

.center-v {
    align-items: center;
}

.center-h {
    justify-content: center;
}

.center-vh {
    align-items: center;
    justify-content: center;
}

.cursor-pointer {
    cursor: pointer;
}